In [4]:
import pandas as pd

# Loading log, skipping unnecessary lines
df = pd.read_csv(
    '../data/feed-views.log',
    sep='\t',
    names=['datetime', 'user'],
    skiprows=[2, 3],
    skipfooter=2,
    engine='python',
    index_col=0
)
# Index datetime -> date_time
df.index.name = 'datetime'
# Save to a new file with the separator ;
df.to_csv('../data/feed-views-semicolon.log', sep=';')

In [5]:
df.count()

user    1072
dtype: int64

In [6]:
df2 = pd.read_csv("../data/feed-views-semicolon.log", sep=';')

In [7]:
df2.head()

                     datetime    user
0  2020-04-17 12:01:08.463179   artem
1  2020-04-17 12:01:23.743946   artem
2  2020-04-17 12:35:52.735016   artem
3  2020-04-17 12:36:21.401412  oksana
4  2020-04-17 12:36:22.023355  oksana